*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;

}

.hero-section{
    background-image: url(images/coverimg.png);
    background-size: cover;
    position: relative;
    min-height: 100vh;
    background-repeat: no-repeat;
   
}

.ptext{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    
   

}
.smalltxt{
    font-size: large;
}

.btext{
    background-color: black;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;

}


.footer{
    display: flex;
    justify-content: space-around;
    
   
}

.contact-me{
    background-color: #676c08;
        text-align: center;
        color: white;
        padding: 40px;

}

.contact-me, p{
    margin-top: 30px;
}

.about-me{
    background-color: #832f08;
    color: white;
     text-align: center;
     padding: 40px;     

}

.about-me, p{
    margin-top: 30px;

}

.bl-text{
    background-color: black;
    color: white;
    padding: 23px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}