
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    line

}


.hero_section{
    background-image: url(images/image1);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.text_container, h1{
    display: flex;
    align-items: center;
}
.text_container, h2{
    display: flex;
    align-items: center;
}


footer{
    background-color: black;
    color: white;
    padding: 20px 10px;
    align-items:center;
}


