*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;

}

.hero-section{
    background-image: url(images/coverimg.png);
    background-size: cover;
    position: relative;
    min-height: 100vh;
    background-repeat: no-repeat;
   
}

.ptext{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    
   

}
.smalltxt{
    font-size: large;
}

.btext{
    background-color: black;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;

}

.footer{
    display: flex;
    box-sizing: border-box;
}

.contact-me{
    background-color: #676c08;
        text-align: center;
        color: white;

}
.about-me{
    background-color: #832f08;
    color: white;
     text-align: center;
}


.bl-text{
    background-color: black;
    color: white;
    padding: 23px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}